<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- тэг clear очищает все установленные ранее nuget источники и оставляет только те, что указаны ниже -->
        <clear />
        <add key="Abanking Local NuGet Source" value="NugetPackages" />
        <add key="abanking" value="http://nuget.corp.artsofte.ru/v3/index.json" allowInsecureConnections="true" />
    </packageSources>

    <!-- https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/ -->
    <!-- https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/#package-source-mapping-rules -->
    <!-- Проверка на соответствие ID пакета происходит от наиболее специфического паттерна к наименее специфическому. В данном случае Abanking.* более специфический, чем * -->
    <packageSourceMapping>
        <!-- наши пакеты качаем из локальной папки -->
        <packageSource key="Abanking Local NuGet Source">
            <package pattern="Abanking.*" />
        </packageSource>
        <!-- все остальные берем из дефолтного источника -->
        <packageSource key="abanking">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
